body {
    margin: 0;
}

header {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top:0;
    background-color: #FFF;
}

header > nav {
    background-color: #c2185b;
    position: absolute;
    top: calc(50% - 20px);
    right: 0px;
}

header > nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
}

header > nav > ul > li > a {
    padding: 10px 20px;
    background-color: grey;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
}

header > nav > ul > li > a:hover{
    background-color: rgb(202, 202, 202);
}

main {
    margin-top: 250px;
}
